<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="center hero-unit">
	<table>
		<% @product.each do |pro|  %>
			<tr>
				<td><%= pro.code %></td>
				<td><%= pro.name %></td>
			</tr>
		<% end %>
	</table>
	
	<% if @pro && @pro.errors.any? %>
		<ul>		
			<% @pro.errors.full_messages.each do |err| %>
				<li><span class="text-error"><%= err %></span></li>
			<% end %>
		</ul>
	<% end %>
	
	<% @point= 2000 %>
	<% @data = {:code => "dfdsfsd",:name=> "bjjffdsf"} %>
	<%= render partial: "temp",locals: {zone:10}, object: @point %>
	<!-- <%= render partial: "popup", collection: @product, as: :item, locals: {title: "Products Page"} %> -->
</div>	

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
