<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<header class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				
				<div class="container">
					<nav>
						<ul class="nav pull-left">
							<li>
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">Customer</a>
							</li>
						</ul>
						<ul class="nav pull-right">
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b> </a>
								<ul class="dropdown-menu">
									<li>										
										<a href="#">Profile</a>
									</li>
									<li>										
										<a href="#">Settings</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">Sign out</a>										
									</li>
								</ul>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="span2">
					<!--Sidebar content-->
					sdkfshfkjds
				</div>
				<div class="span10">
					<!--Body content-->
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
